<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body onload="javascript:LoadBudgetData()">
  <div class="topnav">
    <a class="active" href="/">Log Out</a>
    <a id="members" href="/members">Members</a>
    <a href="/budgets">Budgets</a>
    <a id="action" href=/actions>Actions</a>
  </div>
  <div class="wrapper">
    <div class="money">
      <h1 id="money"></h1>
  </div>
  <table id="actions">
<tr>
  <th>Made by</th>
  <th>Purpose/Source</th>
  <th>Time</th>
  <th>Amount</th>
</tr>
</table>
  </div>
  <script>
    const queryString = window.location.href.split('/');
    const index = queryString[queryString.length-1];
    document.getElementById("action").setAttribute("href",`/actions/${index}`);
    document.getElementById("members").setAttribute("href",`/members/${index}`);
  </script>
  <script src="/js/menu_page.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>